<div class="parent">



  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Logar</h1>

        <input type="text" name="username" [(ngModel)]="loginObj.username" placeholder="Digite o Usuário" required="">
            <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password" required="">
            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div>
        <a href="#">Esqueceu sua Senha?</a>
        <button (click)="onLogin()">Acessar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>TecnoTextil Confecções</h1>
          <p>Digite o nome de Usuário e senha Padrão para poder acessar a conta</p>
          <p>
            Quer ir para o site institucional <br>
            <a href="https://www.tecnotextilconfeccoes.com.br/" target="_blank">
              Clique aqui
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
